:root {
  --primary-color: #5f0a0a;         
  --secondary-color: #000000;       
  --main-text-color: #22223b;       
  --text-white: #fff;
  --border-color: #e0e0e0;
  --gradient: linear-gradient(90deg, #0f03035e 0%, #000000a9 100%);
  --background-paper: #f8f8fc;
  --background-box: #fff;
  --action-hover: #ede7f6;
}